{{ define "main"}}
{{$check := .Permalink}}
{{$authorsurl := "https://www.theyoungobservers.com/author/"}}
{{ if (eq $authorsurl $check)}}
<h2 style="margin:10px; padding: 10px">Journalist</h2>
{{.Content }}

{{range .Paginator.Pages}}
  <div class="card" style="width: 18rem; margin:20px; padding: 20px"class="center">
    <img class="card-img-top" src=" ../img/authors/{{ .Title}}.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{.Title}}</h5>
      <p class="card-text"></p>
      <a href=" {{.Permalink}}" class="btn btn-primary">About</a>
    </div>
  </div>
  

    {{end}}
  {{else}}
  {{ $aboutus := "Who are we?"}}
  {{ $Authors := "Authors"}}
  <div style="margin:10px; padding:10px; ">
    <h1>Home Page</h1>
  </div>
  <div style="margin:10px; padding:10px; ">
    <h2>Articles:</h2>
  </div>
  {{.Permalink}}
    {{.Content }}
    
    {{ range .Pages }}
    {{ $check := .Title}}
    
    
      {{ if (eq $aboutus $check)}}
          
      {{else if (eq $Authors $check)}}

      {{else}}
      <div style="margin:10px; padding:10px; ">
        
      
      
        <div style="font-size:20px;">
            <h3  style="font-style:italic">{{.Title}}</h3>
            
        </div>
        {{ $img := .Page }}
        
        
        <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
        <div style="color:rgb(0, 0, 0); font-size:18px;">{{ if .Params.moods }}<strong>topic:</strong> {{range .Params.moods}}{{ . }}</a> {{end}}{{end}}</div>
        <img src="img\{{ $img }}.jpg" style="float:right;max-width:300px;max-height:200px;padding-right: 15px;padding-top: 10px; padding-bottom: 20px;"/>
        <div style="color:rgb(52, 77, 187); font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}{{ . }}</a> {{end}}{{end}}</div>
        
        
        
        <p style="font-size:20px;font-family:Blackletter  ;">{{.Summary}}</p>
        <a href="{{.Permalink}}" style="font-size:18px">read more</a>
        
      </div>
      {{end}}
      
      
        
    {{end}}
  {{end}}
{{end}}