{{ define "main"}}
{{$check := .Permalink }}
{{$Niklas := "/author/niklas-lange/"}}
{{$Lily := "/author/lily-cornell/"}}
{{$Jamie := "/author/jamie-calder/"}}
{{$Euan := "/author/euan-wilson/"}}

{{ if (eq $Niklas $check)}}
<div style="font-size:18px;padding:50px;font-family:Blackletter;text-align: center;">{{.Content}}</div>
<h3 >Articles:</h3>
<div style=" margin:10px; padding:10px">
    <div style="font-size:20px;">
        <a href ="../../frankensteins-modern-monster"style="font-style:italic">Frankenstein's Modern Monster</a>
    </div>
    <div style="color:grey; font-size:16px;">Sunday, Jan 23, 2022</div>
    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

    <div style="color:grey; font-size:16px;">Sunday, Feb 27, 2022</div>
    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
    <a href ="../../housing-first"style="font-style:italic">Housing first</a>
    </div>
    <div style="color:grey; font-size:16px;">Sunday, Mar 27, 2022</div>
    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
    <a href ="../../the-forgotten-crisis"style="font-style:italic">The Forgotten Crisis</a>
    </div>
{{else if (eq $Lily $check)}}
<div style="font-size:18px;padding:50px;font-family:Blackletter;text-align: center">{{.Content}}</div>
<h3 >Articles:</h3>
<div style=" margin:10px; padding:10px">
    <div style="font-size:20px;">
        <a href ="../../what-to-do-about-the-dragon-in-the-east"style="font-style:italic">What To Do About The Dragon In The East?</a>
    </div>
    <div style="color:grey; font-size:16px;">Sunday, Jan 23, 2022</div>
    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

    <div style="font-size:20px;">
      <a href ="../../is-all-surrogacy-exploitation"style="font-style:italic">Is all surrogacy ecploitation?</a>
  </div>
  <div style="color:grey; font-size:16px;">Sunday, Mar 06, 2022</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  </div>
  
{{else if (eq $Jamie $check)}}
<div style="font-size:18px;padding:50px;font-family:Blackletter;text-align: center">{{.Content}}</div>
<h3 >Articles:</h3>
<div style=" margin:10px; padding:10px">
  <div style="font-size:20px;">
      <a href ="../../cop26-effectiveness"style="font-style:italic">COP26 Scared of Commitment?</a>
  </div>
  <div style="color:grey; font-size:16px;">Sunday, Jan 23, 2022</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  <div style="font-size:20px;">
    <a href ="../../holding-out-for-a-hero"style="font-style:italic"> Holding out for a hero</a>
    </div>
<div style="color:grey; font-size:16px;">Sunday, May 07, 2022</div>
<div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
<div style="font-size:20px;">
    <a href ="../../food-glorious-food"style="font-style:italic">Food Glorious Food</a>
    </div>
<div style="color:grey; font-size:16px;">Sunday, Mar 20, 2022</div>
<div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
<div style="font-size:20px;">
    <a href ="../../children-should-listen-to-music-in-school"style="font-style:italic">Children should listen to music in school</a>
    </div>
<div style="color:grey; font-size:16px;">Sunday, May 22, 2022</div>
<div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
</div>
{{else if (eq $Euan $check)}}
<div style="font-size:18px;padding:50px;font-family:Blackletter;text-align: center;">{{.Content}}</div>
<h3 >Articles:</h3>
<div style=" margin:10px; padding:10px">
    <div style="font-size:20px;">
        <a href ="../../Bitcoins-not-so-untouchable"style="font-style:italic">Bitcoin: not so untouchable</a>
    </div>
    <div style="color:grey; font-size:16px;">Sunday, Jan 23, 2022</div>
    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
    <div style="font-size:20px;">
        <a href ="../../russias-invasion-of-ukraine"style="font-style:italic">David vs Goliath</a>
    </div>
    <div style="color:grey; font-size:16px;">Sunday, May 1, 2022</div>
    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  </div>
{{else}}
{{ $aboutus := "Who are we?"}}
    <div style="margin:25px;">
    <h1 style="font-family:Blackletter;text-align: center">{{.Title}}</h1>
    {{ $check := .Title}}
    {{ if (eq $aboutus $check)}}
    <div style="font-size:25px;text-align: center;padding:50px;font-family:Blackletter  ;">{{.Content}}</div>
    {{else}}
    <div style="color:grey; font-size:16px;text-align: center;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
    <div style="color:rgb(0, 0, 0); font-size:22px;text-align: center;">{{ if .Params.moods }}<strong></strong> {{range .Params.moods}}{{ . }}</a> {{end}}{{end}}</div>
    <div style="color:grey; font-size:16px;text-align: center;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
    <div style="font-size:18px;text-align: center;padding:auto;font-family:Blackletter  ;">{{.Content}}</div>
    </div>
    
    {{end}}
{{end}}
{{end}}
